* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.site-header {
  background-color: #333;
  color: white;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
}

.site-nav {
  background-color: lightgrey;
}

.site-nav li {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid white;
}

.site-nav a {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
}

.site-content {
  width: 85%;
  max-width: 700px;
  margin: 0 auto;

}

.contacts-summary {
  background-color: salmon;
  padding: 10px 0;
  font-size: 1.25em;
}

.contacts-count {
  font-weight: bold;
  border-bottom: 2px solid turquoise;
}

.contact {
  background-color: turquoise;
}

.site-footer {
  background-color: #333;
  color: white;
  font-size: 0.75em;
}