body {
    font: 1em georgia;
}
h1 {
    font: bold 2em helvetica;
}
.layout {
    max-width: 30em;
    margin: auto;
}
.header {
    padding: 1em;
}
.newitem {
    padding: 1em;
}
.addnew {
    display: grid;

}
.line-label {
    display: block;
    font: bold 0.8em helvetica;
}
.form-component {
    font: 1.2em georgia;
    border: none;
    border-bottom:3px solid #eee;
    line-height: 1;
    padding: 0.5em;
    vertical-align: middle;
    height: 2.5em;
    margin: 0.25em 0;
}
.form-component:focus {
    outline: none;
    border-bottom:3px solid black;
}
.form-component.inpt {
    padding: 0.5em 0em;
}
.form-component.btn {
    background-color: #eee;
}

.filters {
    margin: 1em 0;
    padding-left: 1.5em;
    font: bold 0.8em helvetica;
    display: inline-block;
}
.filters li {
    display:inline-block;
    margin-right: 1em;
    line-height: 1.5;
    text-transform: capitalize;
}

.filters input {
    display: none;
}
.filters input:checked + label {
    border-bottom: 3px solid black;
}
.cat-new {
    font: 0.5em helvetica;
    display: inline-block;
    padding: 0 2em;
}
.cat-new .form-component {
    font-family: helvetica;
    margin-top: 0;
}


.shoppinglist {
    margin: 1em 0;
}
.shoppinglist li {
    padding: 0.5em 1em;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 0.5em;
    /* border-top: 1px solid #eee; */
}
.shoppinglist li:before {
    content: "";
    display: block;
    width: 0.5em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
}
.shoppinglist li.meat:before { background-color: tomato; }
.shoppinglist li.prod:before { background-color: mediumseagreen; }
.shoppinglist li.bakery:before { background-color: dodgerblue; }
.shoppinglist li.dairy:before { background-color: gold; }

.shoppinglist li button {
    background-color: transparent;
    border: none;
    line-height: 1.125;
    font-size: 1.125em;
}
.shoppinglist li button:first-child { text-align: left; }
.shoppinglist li button:last-child { text-align: right; }



@media screen and (min-width: 40em) {
    body {
        font: 1.5em georgia;
    }
    .addnew {
        grid-template-columns: 1fr auto;
    }
    .cat-new {
        padding: 0;
    }
}

