header {
  background-image: url('../images/empty_table.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header h1 {
  font-size: 5em;
}

a {
  color: #ffffed;
  transition: 0.3s ease all;
}

a:hover {
  color: #ededdb;
  transition: 0.3s ease all;
}

.logo {
  margin: 0.45em 1em;
}

.logo::before {
  color: #fffeed;
  font-size: 2.5em;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgb(0,0,0,0.25);
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 1em;
}

.scroll-down {
  position: absolute;
  bottom: 12px;
  font-size: 2.5em;
  transition: 100ms ease;
}

.scroll-down:hover {
   color: #333;
}

.home-search {
  height: 100vh;
  background: #fffeed;
  position: relative;
  height: 100vh;
  text-align: center;
}

.home-search-heading {
  font-family: 'Pinyon Script', cursive;
  font-size: 4.5em;
  border-bottom: 1px solid #333;
  display: inline-block;
  padding-top: 40px;
}

.home-search form {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  color: #333;
}

.home-search input, .home-search label {
  font-size: 1em;
}

.home-search input {
  height: 2.5em;
  width: 6em;
  border: none;
}

.home-search input[type=submit] {
  background-color: transparent;
  border-radius: 9%;
  border: 1px solid #333;
  transition: 200ms ease;
  vertical-align: top;
}

.home-search input[type=submit]:hover {
  cursor: pointer;
  background-color: #eeeddc;
}

.home-search input:focus {
    outline: 1px dashed #333;
}

.home-search input[type=search] {
  width: 14em;
  padding-left: 1em;
  background: transparent;
  border-bottom: 1px solid #333;
}

.search-field {
  display: inline-block;
  vertical-align: bottom;
}

.search-field label {
  display: block;
  padding: 10px 0;
}
